.general__title {
    font-size: 2.3rem;
    color: inherit;
    font-family: "Orbitron";
    letter-spacing: 5px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    margin: 2rem auto;
}

